* {
  font-family: "Inter", sans-serif;
}

.gray-700 {
  color: rgb(54 65 83);
  font-weight: 500;
}

.addButton {
  transition: all 0.2s !important;
  background: linear-gradient(to right, rgb(120 41 253), rgb(89 55 248));
  padding: 10px 20px !important;
  border: none !important;
}

.addButton:focus {
  border: none;
}

#addButton:hover {
  transform: translateY(-3px);
}
.addButton:hover {
  box-shadow: 0 5px 20px 3px rgba(119, 0, 255, 0.258);
}

main .rec {
  transition: all 0.2s;
}

main .rec:hover {
  box-shadow: 0 3px 5px rgb(184, 184, 184) !important;
}



input:focus,
select:focus {
  box-shadow: 0 0 0 1px rgb(164, 78, 226), 0 0 0 3px rgba(92, 0, 157, 0.217) !important;
  border: none !important;
}

.add-dashbord input:focus,
.add-dashbord select:focus {
  background-color: white !important;
}

#search input::placeholder {
  font-size: medium;
  color: grey;
}

.boxes .box .bottom div * {
  cursor: pointer !important;
}

.boxes .box .bottom div i.phone {
  transition: all 0.2s;
}

.boxes .box .bottom div i.phone:hover {
  background-color: rgba(27, 255, 80, 0.244) !important;
}

.boxes .box .bottom div i.email {
  transition: all 0.2s;
}

.boxes .box .bottom div i.email:hover {
  background-color: rgba(168, 27, 255, 0.283) !important;
}

.boxes .box .bottom div i.star-empty {
  transition: all 0.2s;
}

.boxes .box .bottom div i.star-empty:hover {
  background-color: rgba(208, 208, 208, 0.283) !important;
  color: rgb(254, 191, 19) !important;
}

.boxes .box .bottom div i.heart-empty {
  transition: all 0.2s;
}

.boxes .box .bottom div i.heart-empty:hover {
  background-color: rgba(208, 208, 208, 0.283) !important;
  color: rgb(254, 19, 19) !important;
}

.boxes .box .bottom div i.star {
  color: rgb(254, 191, 19) !important;
  background-color: rgba(254, 191, 19, 0.089) !important;
  transition: all 0.2s;
}

.boxes .box .bottom div i.star:hover {
  background-color: rgba(254, 191, 19, 0.228) !important;

}

.boxes .box .bottom div i.heart {
  transition: all 0.2s;
  background-color: rgba(255, 68, 68, 0.075) !important;
  color: rgb(254, 19, 19) !important;
}

.boxes .box .bottom div i.heart:hover {
  background-color: rgba(255, 68, 68, 0.231) !important;

}

.boxes .box .bottom div i.pen {
  transition: all 0.2s;
}

.boxes .box .bottom div i.pen:hover {
  color: rgb(109, 19, 254) !important;
  background-color: rgba(102, 68, 255, 0.16) !important;

}

.boxes .box .bottom div i.bin {
  transition: all 0.2s;
}

.boxes .box .bottom div i.bin:hover {
  background-color: rgba(255, 68, 68, 0.075) !important;
  color: rgb(212, 18, 18) !important;

}

.boxes .box {
  transition: all 0.2s;
}

.boxes .box:hover {
  box-shadow: 0 3px 10px rgba(100, 100, 100, 0.267) !important;
}

.favorites .bottom-part .rec {
  transition: all 0.2s;
  cursor: pointer;
}

.favorites .bottom-part .rec i {
  transition: all 0.2s;
}

.favorites .bottom-part .rec:hover {
  background-color: rgb(255 248 237) !important;
  box-shadow: none !important;
}

.favorites .bottom-part .rec:hover i {
  background-color: rgb(0, 156, 18) !important;
  color: white !important;
}

.emergency .bottom-part .rec {
  transition: all 0.2s;
  cursor: pointer;
}

.emergency .bottom-part .rec i {
  transition: all 0.2s;
}

.emergency .bottom-part .rec:hover {
  background-color: rgb(255, 238, 241) !important;
  box-shadow: none !important;
}

.emergency .bottom-part .rec:hover i {
  background-color: crimson !important;
  color: white !important;
}

.add-dashbord .x-btn {
  padding: 10px 18px;
  transition: all .2s;
  cursor: pointer;
}

.add-dashbord .x-btn:hover {
  background-color: rgb(234, 234, 234);

}

.add-dashbord .top label {
  transition: all .2s;
}

.add-dashbord .top label:hover, 
.add-dashbord .mid .cancel-btn:hover{
  background-color: rgb(218, 218, 220) !important;
}

.add-dashbord input::placeholder {
  color: rgb(150, 150, 150);
  font-size: 14px;
}

 .scroll-h::-webkit-scrollbar {
  display: none;
  
}

.add-dashbord .checkboxes label {

  cursor: pointer !important;

}
.add-dashbord .checkboxes label input{

  cursor: pointer !important;
  width: 20px;
  height: 20px;
}

.add-dashbord .checkboxes label small {
  transition: all .2s;
  font-weight: 500;
}

.add-dashbord .checkboxes label small:hover {
  color: rgb(48, 58, 73) !important;
}

